<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="style.css"/>
</head>

<body ng-app="app" ng-controller="MainController">

<img src="images/header-logo.png" class="logo">

<section class="name" ng-if="state === 'name'" ng-controller="NameController">
  <form ng-submit="sendName()">
    <input type="text" name="name" ng-model="name" placeholder="username" autocomplete="off">
  </form>
  <div class="error" ng-if="error">{{error}}</div>
</section>

<section class="tournaments" ng-if="state === 'tournaments'" ng-controller="TournamentsController">
  <h1>Tournaments</h1>

  <div class="tournament" ng-repeat="tournament in tournaments">
    <a ng-click="joinTournament(tournament)">
      {{tournament.name}}
      <small>({{tournament.users.length}} / {{tournament.maxUsers}})</small>
    </a>
  </div>
  <hr>
  <form ng-submit="createTournament(tournamentName, tournamentMaxUsers)">
    <input type="text" name="tournamentName" ng-model="tournamentName" placeholder="name">
    <select name="tournamentMaxUsers" ng-model="tournamentMaxUsers">
      <option value="2">2 players</option>
      <option value="4">4 players</option>
      <option value="8">8 players</option>
      <option value="16">16 players</option>
      <option value="32">32 players</option>
    </select>
    <button>New tournament</button>
  </form>
</section>

<section class="tournament-wait" ng-if="state === 'tournament:wait'" ng-controller="TournamentWait">
  <h1>{{tournament.name}}</h1>

  <h3>Waiting for other players {{tournament.users.length}} / {{tournament.maxUsers}}</h3>

  <div ng-repeat="user in tournament.users">{{user.name}}</div>
</section>

<div ng-if="state === 'tournament:chart'" ng-controller="TournamentChart">
  <h1>{{tournament.name}}</h1>
  <gracket bracket="tournament.brackets"></gracket>
  <button ng-click="nextMatch()">Next match</button>
</div>

<div ng-if="state === 'tournament:winner'" ng-controller="TournamentChart">
  <h2>{{winner.name}} wins</h2>
  <gracket bracket="tournament.brackets"></gracket>
  <button ng-click="newTournament()">New tournament</button>
</div>

<section ng-if="state === 'match'" ng-controller="MatchController">
  <div class="result">
    <div class="play1">
      {{activeMatch.user1.name}}
      <img src="images/{{activeMatch.play1 || 'empty'}}.png">
    </div>
    <div>VS</div>
    <div class="play2">
      {{activeMatch.user2.name}}
      <img src="images/{{activeMatch.play2 || 'empty'}}.png">
    </div>
  </div>

  <div ng-if="showWinner">
    <div ng-if="activeMatch.winner">
      <h1>{{activeMatch.winner.name}} wins</h1>
    </div>
    <div ng-if="!activeMatch.winner">
      <h1>Draw</h1>
    </div>
  </div>

  <div ng-if="showMovements">
    <h1>Make your movement</h1>

    <div class="play">
      <img ng-click="play('rock')" src="images/rock.png">
      <img ng-click="play('paper')" src="images/paper.png">
      <img ng-click="play('scissors')" src="images/scissors.png">
      <img ng-click="play('lizard')" src="images/lizard.png">
      <img ng-click="play('spock')" src="images/spock.png">
    </div>
  </div>
</section>


<script src="/socket.io/socket.io.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/jquery/dist/jquery.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-cookies/angular-cookies.js"></script>
<script src="components/angularLocalStorage/src/angularLocalStorage.js"></script>
<script src="components/jquery.gracket.js/jquery.gracket.js"></script>
<script src="js/app.js"></script>

</body>
</html>